<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

 	<beans:bean id="hi" class="x.y.impl.HelloBeanImpl" ></beans:bean>
	<beans:bean  class="x.y.p36.Bar"   id="bar" />
	<beans:bean class="x.y.p36.Baz"  id="baz"/>
	<beans:bean class="x.y.p36.Foo" id="foo">
		<beans:constructor-arg  index="1"  ref="baz"/>
		<beans:constructor-arg index="0" >
			<beans:ref    bean="bar"/>
		</beans:constructor-arg>
		
	</beans:bean>
	<beans:bean class="x.y.impl.GreetingServiceImpl" id="greeting"/>
	
	<beans:bean class="x.y.impl.GreetingServiceImpl" id="greeting1">
		<beans:constructor-arg value="안녕" />
		<beans:constructor-arg>
			<beans:value>3</beans:value>
		</beans:constructor-arg>
		
	</beans:bean>
	
	
</beans:beans>






